<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.muggle.poseidon.mapper.OaUserInfoMapper">

    <select id="findAuths" resultType="java.lang.String">
        SELECT ar.`auth_code` FROM oa_auth_role_relation ar WHERE ar.`role_code` in
        <foreach collection="collection" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
    </select>
</mapper>
