<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sofia.poseidon.mapper.SysMenuMapper">
    <sql id="selectInfo">
        distinct m.id, m.parent_id as parentId, m.name, m.path,
        m.permission, m.component, m.icon, m.orderNum
    </sql>

    <select id="getPermissionByUserId" resultType="java.lang.String">
        select rm.permission
        from sys_role_menu rm
        left join sys_user_role ur on ur.role_id = rm.role_id
        where ur.user_id=#{id}
    </select>
    <select id="getUserMenu" resultType="com.sofia.poseidon.entity.pojo.SysMenu">

        select <include refid="selectInfo" />
        from sys_menu m
                 left join sys_role_menu rm on m.id = rm.menu_id
                 left join sys_user_role ur on ur.role_id = rm.role_id
                 LEFT JOIN sys_user u on u.id = ur.user_id
        where  m.enabled = 1 and u.username = #{name} order by m.orderNum
    </select>

    <select id="getUserPerms" resultType="java.lang.String">
        select m.permission
        from sys_menu m
        left join sys_role_menu rm on m.id = rm.menu_id
        left join sys_user_role ur on ur.role_id = rm.role_id
        LEFT JOIN sys_user u on u.id = ur.user_id
        where m.enabled = 1 and u.username = #{username} order by m.orderNum
    </select>

</mapper>
